<header role="banner" class="pf-c-page__header">
  <div class="pf-c-page__header-brand">
    <i style="font-size: 32pt; color:rgb(130, 187, 242);" class="fas fa-car"></i>
    <h1 class="pf-c-title pf-m-xl" style="letter-spacing: 4px;">
      &nbsp; CRUDDY'S CAR PARTS
    </h1>
  </div>
  {{#if username}}
    <div style="padding-right: 1em; margin-left: auto;">
      <p>{{username}} &nbsp;</p>
      <a href="/logout">
        <i style="font-size: 16pt; padding: 1em 0.2em; color: white;" class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  {{else}}
    <span></span>
  {{/if}}
</header>
