<main role="main" class="pf-c-page__main">
  <section style="text-align: center;" class="pf-c-page__main-section pf-m-light">
    <div style="padding-top: 40vh;">
      <i style="font-size: 48pt; opacity: 0.5;" class="fas fa-car-crash pf-u-mb-lg"></i>
      <h1 style="font-weight: 600;" class="pf-c-title pf-m-xl pf-u-mb-sm">
        Welcome to the Order Management System.
      </h1>

      <p style="opacity: 0.7;">
        No orders have been created yet. Use the Order Entry System to create some.
      </p>
    </div>
  </section>
</main>
