<div class="pf-c-empty-state">
  <i class="fas fa-map-signs pf-c-empty-state__icon" aria-hidden="true"></i>
  <h1 class="pf-c-title pf-m-lg">
    404 - Not Found
  </h1>
  <div class="pf-c-empty-state__body">
    Looks like you entered an invalid URL or followed a broken link. Use the button below to get back to the application.
  </div>
  <a href="/" class="pf-c-button pf-m-primary" type="button">
    Return to Application
  </a>
  <div class="pf-c-empty-state__secondary"></div>
</div>
